html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main
{
margin: 0;
padding: 0;
box-sizing:border-box;
list-style: none;
text-decoration: none;
}

.paginacao{
    height: 900px;
    width: 80%; 
    margin: 20px auto;
    
}

.avatar{
 border-radius: 50%;
 width: 150px;
}

/*REDES*/

.nav
{
  background-color: rgb(10, 134, 62);
  display: flex;
  padding: 20px;
  text-align: center;
  color: aliceblue;
  margin: 20px auto;
  border-radius: 4px;

}


 .coluna-esquerda{
    
    width: 80%;
      
    
}
 .coluna-direita {
   
    width: 80%;
     
      
}
.redes-sociais{
    
        display: flex;
              
        padding: 20px;                    
        border-radius: 4px;
        
        justify-content: space-evenly;
       
    
    
}
div{
    
    text-align: center;
   
}


#rd-social-1{
    
  
    height:50px;
    width: 50px;
    
}
#rd-social-2 {

   
    height:50px;
    width: 50px;

}
#rd-social-3 {

    
    height:50px;
    width: 50px;

}
#rd-social-4 {

    
    height:50px;
    width: 50px;

}


