html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main
{
margin: 0;
padding: 0;
box-sizing:border-box;
list-style: none;
text-decoration: none;
}
.boby{
    background-color: aquamarine;
}

/*REDES*/
.redes-sociais{
max-width: 50px;
fill: #0c8821; 
display: flex;
}

